{% extends './layout.html' %}
{% block title %}Eventos{% endblock %}

{% block body %}

<div class="contenedor">

    <h2>Eventos</h2>
    <form action="/buscar" method="POST">
        <input type="text" id="buscar" name="nombreEven" class="buscador sombra-buscador" placeholder="Buscar eventos">
        <button class="boton-buscar" type="submit">Buscar</button>
    </form>
    
    <div class="contenido-resultados">
        <h3>Resultado de la busqueda</h3>

        <div class="mensaje">
            <!--  mostramos el mensaje -->
            {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
            {% for mensaje in mensajes  %}
            <p class="p-mensaje">{{ mensaje }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </div>


</div>

{% endblock %}