{% extends './layout.html' %}
{% block title %}Eventos{% endblock %}

{% block body %}

    <div class="contenedor">
        <h2>Listado de eventos</h2>

        <div class="mensaje">
            <!--  mostramos el mensaje -->
            {%  with mensajes = get_flashed_messages() %}
            {% if mensajes %}
            {% for mensaje in mensajes  %}
            <p>{{ mensaje }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="contenedor contenido-eventos">
            <table class="tabla-eventos">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Entradas</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
    
                <tbody>

                    {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.eve_codigo }} </td>
                            <td>{{ evento.eve_nombre }} </td>
                            <td>{{ evento.eve_entradas }} </td>
                            <td>{{ evento.eve_fecha }} </td>
                        </tr>
                    {% endfor %}
                   
                </tbody>
    
                <tfoot>
    
                </tfoot>
    
            </table>
        </div>

    </div>

{% endblock %}